@keyframes magic {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

body {
  background-color: DeepSkyBlue;
}

#welcome_text {
  color: magenta;
  text-align: center;
  font-family: "Bookman Old Style", Georgia, serif;
}

#name_text {
  color: DeepPink;
  font-size: 200%;
}

#info {
  text-align: center;
  font-family: "Bookman Old Style", Georgia, serif;
  color: Magenta;
  font-size: 200%;
  width: 60%;
  margin: 3cm auto;
  -webkit-text-stroke: 2px Indigo;
}

#info:hover {
  animation-name: magic;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
