h1.welcomeTitle {

}

div.welcomeTitleContainer {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  left: 0;
}

img.mainicon {
  position: absolute;
  left: 1010px;
  top: 25px;
}
